doctype 5
html
	head
		
		title Payment
				
		//- CSS
		link(rel='stylesheet', href='/app/css/bootstrap.css')
		link(rel='stylesheet', href='/app/css/extra.css')

		//- JS
		script(type='text/javascript',src='/app/js/libs/jquery-1.7.2.min.js')
		script(type='text/javascript',src='/app/js/libs/underscore-1.3.3.min.js')
		
	body
		
		div.body_container.nudge-down
			div.payment_page

				div.row
					div.span7.text-center

						img(src="/images/star.png")
						h3 $5 to 
							span(style="color:#DAA53A;") star
							|  your email in my inbox
						hr
						p This will add a star to your email inside my email client, providing a higher likelyhood that I will read and respond to your email. 
						hr
						form.text-center#payment-form(action="", method="POST")
							code.
								<script
									src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
									data-key="pk_CCxmOq7iGGtz26t7BZuPEQgXgxsmQ"
									data-amount="500"
									data-name="Email Star"
									data-description="Star this email in my inbox"
									data-image="/images/star_whitebg.png">
								</script>
						
						p(style="color:#555;") ( Test mode: use <code>4242 4242 4242 4242</code> and a valid Expiration and CVC )
						//- 	.form-row
						//- 		label Card Number
						//- 		input.card-number(type='text', maxlength='20', autocomplete='off', value="4242424242424242")
						//- 	.form-row
						//- 		label CVC
						//- 		input.card-cvc(type='text', maxlength='4', autocomplete='off', value="123")
						//- 	.form-row
						//- 		label Expiration (MM/YYYY)
						//- 		input.card-expiry-month(type='text', maxlength='2', autocomplete='off', value="12")
						//- 		span  / 
						//- 		input.card-expiry-year(type='text', maxlength='4', autocomplete='off', value="2014")
						//- 	button.submit-button(type="submit") Submit Payment
						//- span.payment-errors


		block footer
			footer

		//- Stripe info
		//- script(type='text/javascript',src='https://js.stripe.com/v1/')
		//- script(type="text/javascript").

		//- 	Stripe.setPublishableKey('pk_CCxmOq7iGGtz26t7BZuPEQgXgxsmQ');

		//- 	$("#payment-form").submit(function(event) {
		//- 		// disable the submit button to prevent repeated clicks
		//- 		$('.submit-button').attr("disabled", "disabled");

		//- 		Stripe.createToken({
		//- 			number: $('.card-number').val(),
		//- 			cvc: $('.card-cvc').val(),
		//- 			exp_month: $('.card-expiry-month').val(),
		//- 			exp_year: $('.card-expiry-year').val()
		//- 		}, stripeResponseHandler);

		//- 		// prevent the form from submitting with the default action
		//- 		return false;
		//- 	});

		//- 	function stripeResponseHandler(status, response) {
		//- 		if (response.error) {
		//- 			// show the errors on the form
		//- 			$(".payment-errors").text(response.error.message);
		//- 			$(".submit-button").removeAttr("disabled");
		//- 		} else {
		//- 			var form$ = $("#payment-form");
		//- 			// token contains id, last4, and card type
		//- 			var token = response['id'];
		//- 			// insert the token into the form so it gets submitted to the server
		//- 			form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
		//- 			form$.get(0).submit();
		//- 		}
		//- 	}


		//- Google Analytics
		script(type="text/javascript").

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36645089-1']);
			_gaq.push(['_setDomainName', 'getemailbox.com']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();


